<html>
  <head>
    <title>
      ERP System
    </title>
  </head>
  <body>
    <h1>Welcome to the ERP Management System</h1>
    <h3>
      Sign Up Here!
    </h3>
    <form>
      First Name:
      <input type="text" name="fname" value="">
      Last Name:
      <input type="text" name="lname" value="">
      Job:
      <select id="job" name="jtype">
        <option value="admin">Admin</option>
        <option value="hr">HR</option>
        <option value="sales">Sales</option>
        <option value="engineering">Engineering</option>
      </select>
    </form>
    <h3>
      Login Here!
    </h3>
    Enter your EID:
    <input type="text" name="eID" value="">
    <form>

    </form>
  </body>
</html>
