{% include "header.html" %}
    <script src="{{ url_for('static', filename='requests.js') }}"></script>



    <div id ='index' class="container">
      <div class="row">
        <div class="col-sm">
          <h3>
            Sign Up Here!
          </h3>
          <form id="signup">
            First Name:<br>
            <input type="text" id="fname" value="">
            <br>
            Last Name:<br>
            <input type="text" id="lname" value="">
            <br>
            SSN:<br>
            <input type="password" id="SSN" value="">
            <br>
            <input type="button" onclick="signup();" value="Submit">
          </form>
        </div>
        <div class="col-sm">
          <h3>
            Login Here!
          </h3>
          Enter your EID:
          <form id="login">
            <input type="text" name="eID" value="">
            <input type="button" onclick="login();" value="Submit">
          </form>
        </div>
      </div>
    </div>















{% include "footer.html" %}
