{% include "header.html" %}

<table style="width:100%">
  <tr>
    {% for key in data[0].keys() %}
    <th>
      {{key}}
    </th>
    {% endfor %}
  </tr>
  {% for obj in data %}
  <tr>
    {% for key, val in obj.items()%}
    <td "white-space: nowrap; overflow: scroll;">
      {{val}}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}

</table>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <form action=/insert/{{table}} method="POST">
        {% for key in data[0].keys()%}
        {{key}}:
        <br>
        <input type="text" name={{key}} id={{key}}>
        <br>
        {% endfor %}
        <br>
        <br>
        <input type="submit" name="" value="Insert New Row">
      </form>
    </div>
    <div class="col-sm">
      <form action="/home/{{eID}}">
        <input type="submit" name="" value="Go Back">
      </form>
    </div>
  </div>
</div>




{% include "footer.html" %}
