{% include "header.html" %}

<table style="width:100%">
  <tr>
    {% for key in view[0].keys() %}
    <th>
      {{key}}
    </th>
    {% endfor %}
  </tr>
  {% for obj in view %}
  <tr>
    {% for key, val in obj.items()%}
    <td>
      {{val}}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}

</table>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <form action="/home/{{eID}}">
        <input type="submit" name="" value="Go Back">
      </form>
    </div>
  </div>
</div>



{% include "footer.html" %}
